input {
  display: block;
  margin: 5px;
}
table {
  padding: 10px;
}

th,
td {
  padding: 5px;
  text-align: center;
}
nav {
  height: 25px;
}

nav a {
  padding: 5px;
  text-decoration: none;
}
nav a:hover {
  background-color: rgb(194, 194, 194);
}
